# Core Framework
Django==5.2.6

# Authentication & Social Login
django-allauth==65.11.2

# UI & Styling
django-tailwind==4.2.0
django-widget-tweaks==1.5.0

# Image/File Handling
pillow==11.3.0

# Development Utilities
django-browser-reload==1.18.0

# HTTP Requests (used internally or by Allauth)
requests==2.32.5
