<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load widget_tweaks %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-black text-white">
    <!-- Navbar -->
    <nav class="bg-gray-900 shadow-lg sticky top-0 z-50">
      <div class="max-w-8xl mx-auto px-4">
        <div class="flex items-center justify-around h-15">
          <!-- Logo -->
          <div>
            {% if request.user.is_authenticated %}
              <a href="{% url "dashboard" %}" class="text-2xl font-bold">DocDrop</a>
            {% else %}
              <a href="{% url "login" %}" class="text-2xl font-bold">DocDrop</a>
            {% endif %}
          </div>

          <!-- Desktop Menu -->
          <div class="hidden md:flex items-center space-x-8">
            <!-- Links -->
            <ul class="flex space-x-6 text-lg">
              {% if request.user.is_authenticated %}
             
              <div class="flex justify-center items-center space-x-5">
                 <!--Browse Dropdown-->
                <div class="group relative">
                  <button id="browse-btn" class="flex items-center justify-center border cursor-pointer p-1 px-2 rounded-lg text-base">
                    Browse
                    <svg class="ml-2 w-4 h-4" 
                      fill="none" 
                      stroke="currentColor" 
                      viewBox="0 0 24 24" 
                      xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" 
                          stroke-linejoin="round" 
                          stroke-width="2" 
                          d="M19 9l-7 7-7-7">
                        </path>
                    </svg>
                  </button>

                  <div id="browse-menu" class="absolute right-0 mt-2 w-48 bg-gray-700 rounded-md shadow-lg py-1 z-10 hidden">
                    <a href="{% url "dashboard" %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600">All Files</a>
                    <hr>
                    <a href="{% url "my-uploads" %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600">My Files</a>
                  </div>
                </div>

                <!--Profile Dropdown-->
                <div class="group relative">
                  <button id="profile-btn" class="flex text-sm rounded-full cursor-pointer">
                    <img src="" alt="Profile" class="w-8 h-8 border rounded-full bg-red-400">
                  </button>

                    <div id="profile-menu" class="absolute right-0 mt-2 w-48 bg-gray-700 rounded-md shadow-lg py-1 hidden">
                      <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600">Profile</a>
                      <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600">Settings</a>
          
                      <hr>
                      <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-red-400 hover:bg-gray-600">Logout</a>
                    </div>
                </div>
              </div>
              {% else %}
                <li><a href="{% url "login" %}" class="hover:text-blue-400">Home</a></li>
                <li><a href="#" class="hover:text-blue-400">About</a></li>
              {% endif %}
              
            </ul>

            <!-- Buttons -->
            <div class="space-x-4">
              {% if not request.user.is_authenticated %}
                <a href="{% url "login" %}"
                  class="px-4 py-2 border border-blue-500 rounded-lg hover:bg-blue-500 hover:text-white transition">
                  Login
                </a>
                <a href="{% url "signup" %}"
                  class="px-4 py-2 bg-blue-500 rounded-lg hover:bg-blue-600 transition">
                  Sign Up
                </a>
              {% endif %}
            </div>
          </div>
          
          <!-- Mobile Hamburger Button -->
          <div class="md:hidden">
            <button id="menu-btn" class="text-gray-300 focus:outline-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile Menu -->
      <div id="menu" class="hidden md:hidden px-4 pb-4 space-y-4">
        <ul class="space-y-2 text-lg">
          {% if request.user.is_authenticated %}
                <div class="px-2 pt-2 pb-3 space-y-1 bg-gray-700">
                  <a href="{% url "dashboard" %}" class="block px-3 py-2 rounded-md text-base text-white hover:bg-gray-600">All Files</a>
                  <a href="{% url "my-uploads" %}" class="block px-3 py-2 rounded-md text-base text-white hover:bg-gray-600">My Files</a>
                  <a href="#" class="block px-3 py-2 rounded-md text-base text-white hover:bg-gray-600">Profile</a>
                  <a href="#" class="block px-3 py-2 rounded-md text-base text-white hover:bg-gray-600">Settings</a>
                  <a href="{% url 'logout' %}" class="block px-3 py-2 rounded-md text-base text-red-400 hover:bg-gray-600">Logout</a>
                </div>
          {% else %}
              <li><a href="{% url "login" %}" class="hover:text-blue-400">Home</a></li>
              <li><a href="#" class="hover:text-blue-400">About</a></li>
          {% endif %}
        </ul>
        <div class="space-x-4">
          <button
            {% if not request.user.is_authenticated %}
              class="px-4 py-2 border border-blue-500 rounded-lg hover:bg-blue-500 hover:text-white transition"
          >
            Login
          </button>
          <button
            class="px-4 py-2 bg-blue-500 rounded-lg hover:bg-blue-600 transition"
          >
            Sign Up
          </button>
            {% endif %}
        </div>
      </div>
    </nav>

    <div class="relative max-w-5xl mx-auto flex">
      <!-- Left vertical line -->
      <div class="w-[50px] relative">
        <div
          class="absolute top-0 left-0 h-screen border-l border-gray-900"
        ></div>
      </div>

      <!-- Main content area -->
      <main class="flex-1 px-6 py-8">
        {% block content %}
        {% endblock content %}
      </main>

      <!-- Right vertical line -->
      <div class="w-[50px] relative">
        <div
          class="absolute top-0 right-0 h-screen border-r border-gray-900"
        ></div>
      </div>
    </div>


    <script>
      //Script for Mobile Menu
      const btn = document.getElementById("menu-btn");
      const menu = document.getElementById("menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });


      //script for dropdown menu
      function setupDropdown(buttinId, menuId) {
        const btn = document.getElementById(buttinId);
        const menu = document.getElementById(menuId);

        btn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
        });

        //close dropdown if clicked  outside
        document.addEventListener("click", (e) => {
          if( !btn.contains(e.target) && !menu.contains(e.target)) {
            menu.classList.add("hidden");
          }
        });
      }

      setupDropdown("browse-btn", "browse-menu");
      setupDropdown("profile-btn", "profile-menu");
    </script>
  </body>
</html>
