<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
</head>
<body>
    <section>
        <nav>
            <ul>
                <li>Home</li>
                <li>Category</li>
                <li>Settings</li>
            </ul>
        </nav>
    </section>
    {% block content %}
    {% endblock content %}
</body>
</html>